/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.font01 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: grey;
	font-weight: normal;
	font-size: 18px;
}

.font02 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: grey;
    font-weight: normal;
    font-size: 16px;
}

.texture-packs {
  background: url('../img/packs/background-grey.jpeg') center center repeat;
}

.col-sm-3 {
	color: grey;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.carousel-01 {
    line-height: 1.6;
	list-style: none;
	line-height: 25px;
}


.packprice01 .h2 {
    position: absolute;
    right: 45px;
    bottom: 35px;
    top: 270px;
}

.packimg01 {
	position: absolute;
	bottom: 15px;
	width: 100%;
}

.packimg02 {
    margin: 0px 20px 0px 0px;
}

.cellgroup-01 {
    text-align: center;
    border-radius: 50px 50px 0px 0px;
}

.cellgroup-02 {
    height: 100%;
    width: 100%;
    text-align: left !important;
    background-color: #ffffff !important;
    border-radius: 0px 0px 25px 25px;
	padding: 5px;
}

.cell-01 {
	background-color: #1ca138;
    margin: 10px 30px 0px 30px;
}

.cell-02 {
    background-color: #2196f3;
    margin: 0px 30px 0px 30px;
}

.cell-03 {
	background-color: #d84315;
    margin: 0px 30px 0px 30px;
}

.cell-04 {
    border: 5px solid #1ca138;
}

.cell-05 {
    border: 5px solid #2196f3;
}

.cell-06 {
    border: 5px solid #d84315;
}

.cell-07 {
	background: #d84315;
    margin: 20px 30px 0px 30px;
}


.cell-08 {
    background: #fcd308;
    margin: 20px 30px 0px 30px;
}

.cell-09 {
    background: #1ca138;
    margin: 20px 30px 0px 30px;
}

.cell-10 {
    border: 5px solid #d84315;
}

.cell-11 {
    border: 5px solid #fcd308;
}


.cell-12 {
    border: 5px solid #1ca138;
}



/* Clear floats after the columns */
/*.row:after {
    content: "";
    display: table;
    clear: both;
}
*/

#blog-listing-medium .post .image {
	margin-bottom: 10px;
	overflow: hidden;
	min-height: 196px;
}

#blog-listing-big .post .image {
	margin-bottom: 10px;
}
